<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication100.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".AIBot"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPassswordActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionViewHolder"
            android:exported="false" />
        <activity
            android:name=".QnAActivity"
            android:exported="false" />
        <activity
            android:name=".ReplyActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".QnaHomeActivity"
            android:exported="false" />
        <activity
            android:name=".Qna_Home"
            android:exported="false" />
        <activity
            android:name=".QnAAskQuestions"
            android:exported="false" />
        <activity
            android:name=".qna"
            android:exported="false" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".SignPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Blogs_Home"
            android:exported="false" />
        <activity
            android:name=".Blog_Post"
            android:exported="false" />
        <activity
            android:name=".Blogs"
            android:exported="false" />
        <activity
            android:name=".ViewActivity2"
            android:exported="false" />
        <activity
            android:name=".MainPage_FirstPage"
            android:exported="true" />
        <activity
            android:name=".ViewActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>